/* Variables declarations*/
/*
  --color1: rgb(21, 45, 101);
  --color2: rgba(22, 80, 135, 0.89);
  --color3: rgba(10, 30, 49, 0.89);
  --color4: rgb(38, 68, 239);
*/
:root{
  --nav-ly-color: rgba(255, 255, 255, 0.866);
  --nav-ly-color2: black;
  --welcome-ly-color1: rgba(255, 255, 255, 0.918);
  --color1: rgb(4, 25, 72);
  --color2: rgba(3, 44, 83, 0.89);
  --color3: rgba(0, 0, 0, 1);
  --color4: rgba(117, 248, 255, 0.749);
  --project-color: rgba(255, 255, 255, 0.76);
  --color-saludo: rgba(120, 165, 254, 0.9);
}
/*
  General section
*/

html{
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

section {
  padding-top: 5%;
}

#sidebar {
  display: none;
  transition: display 0.5s;
}

#sidebar.visible {
  display: block;
}

#main {
  width: 100%;
  height: 100%;
}


body{
  font-family: 'Courier New', Courier, monospace;
  margin: 0px;
  padding: 0px;
  background-color: var(--color1);
  width: 99vw;
  height: auto;
  display: flex;
  flex-direction: column;
}

/* Nav Bar Section*/

#navbar{
  position: fixed;
  top: 0px;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 10vh;
  background: linear-gradient( 90deg,
    var(--color2),
    var(--color3));
  min-width: 300px;
  min-height: 60px;
  z-index: 10;
}

#navbar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100%;
}

#navbar li{
  float: right;
  padding-left: 1vw;
  padding-right: 1vw;
  height: 100%;
  position: relative;
}

.nav-link::before{
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  visibility: hidden;
  transition: all 0.3s ease-in-out 0s;
  color: var(--nav-ly-color);
  background: linear-gradient(to top,white, transparent 300px);
}

.nav-link:hover::before{
  visibility: visible;
  width: 100%;
}

#navbar li.left{
  float: left;
}

#navbar a{
  color: var(--nav-ly-color);
  font-weight: bold;
  font-size: 3vh;
  display: block;
  text-align: center;
  text-anchor: middle;
  padding:  30px 10px;
  text-decoration: none;
}

#navbar a:visited{
  text-decoration: none;
}

/* Welcome section*/

.saludo-contenedor{
  position: relative;
  color: var(--welcome-ly-color1);
  border: none;
  padding: 18px 40px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.5s ease;
  width: 80%;
  margin-bottom: 5px;
  background-color: transparent;
}

.saludo-contenedor:hover{
  letter-spacing: 5px;
  color: var(--color4);
  background-color: var(--nav-ly-color2);
  animation: box 3s infinite;
  box-shadow: 0 0 50px var(--color4);
  border: 2px solid  var(--color4);
}

.saludo-contenedor::before{
  content: "";
  position: absolute;
  inset: 2px;
}

.texto-hover{
  position: relative;
  z-index: 1;
}

.saludo-contenedor i{
  position: absolute;
  inset: 0;
  display: block;
}

.saludo-contenedor i::before{
  content: "";
  position: absolute;
  top: -2px;
  left: 80%;
  width: 10px;
  height: 2px;
  border: 2px solid  var(--nav-ly-color);
  transition: all 0.3s ease;
}

.saludo-contenedor:hover i::before{
  left: 20%;
  width: 15px;
  animation: move 3s infinite;
  background-color: var(--nav-ly-color2);
  border: 2px solid  var(--color4);
}

.wel-div{
  height: 100vh;
  background-image: url("https://concepto.de/wp-content/uploads/2018/09/lenguaje-de-programaci%C3%B3n-e1537466894547.jpg");
  background-repeat: no-repeat;
  background-size:cover;
}

.wel-div-dif{
  background: linear-gradient(var(--color2) 5%, var(--color3) 65%,transparent);
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#welcome-section h1{
  font-size: 10vh;
}

#welcome-section p{
  /*font-size: 5vh;*/
}

#cont-cargos{
  height: 50px;
  overflow: hidden;
  margin-top: 5%;
}

#perfiles-div{
  position: relative;
  animation: text-animation 10s linear 0s infinite alternate;
}

#perfiles-div > p > span{
  display: inline-block;
  height: 50px;
  font-size: 30px;
  padding: 10px;
  color: var(--welcome-ly-color1);
  border-radius: 50px;
}

#perfiles-div #perfil1 span{
  background-color: red;
}

#perfiles-div #perfil2 span{
  background-color: green;
}

#perfiles-div #perfil3 span{
  background-color: blue;
}

#perfiles-div #perfil4 span{
  background-color: yellow;
  color: var(--nav-ly-color2);
}

#perfiles-div #perfil5 span{
  background-color: aqua;
  color: var(--nav-ly-color2);
}

.code{
  /*display: inline-block;
  text-align: center;
  font-size: 2vh;
  font-family: courier new;
  color: white;
  width: auto;
  white-space: wrap;
  border-radius: 25px;
  padding: 10px;*/
}



/* About me section*/

#about-section{
  background-color: var(--color1);
  height: auto;
  color: var(--project-color);
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 50px;
  margin-left: 0%;
  width: 100%;
}

#about-section h2{
  display: block;
  text-align: center;
  font-size: 10vh;
  padding-top: 0%;
  padding-bottom: 2%;
}

div.texto_info {
  padding: 12px;
  text-align: center;
  width: 20%;
  font-size: 16px;
  background: darkcyan;
}

div.texto_info:hover {
  background: aquamarine;
  color: #000;
}

div#Info_forma {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
  padding-top: 20px;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  background: transparent;
  height: 20%;
}

/* Slides */
.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: var(--welcome-ly-color1);
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: var(--color4);
  border: 1px solid var(--color4);
  border-radius: 20%;
  box-shadow: 0 0 50px var(--color4);
}

/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 20px;
    background: transparent;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: var(--nav-ly-color2);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  color: var(--color4);
  border: 1px solid var(--color4);
  border-radius: 50%;
  box-shadow: 0 0 50px var(--color4);
}

/* Add an italic font style to all quotes */
.mySlides q {
  height: 200px;
  font-style: italic;
  display: block;
  text-decoration-style: solid;
  font-size: 3vh;
}

/* Add a blue color to the author */
.author {color: cornflowerblue;}

.eje-y-grafica{
  width: 25px;
  color: #000;
}

.eje-y-grafica p{
  height: 5rem;
}

/* Tools section*/

#Tools-section{
  background-color: var(--color-saludo);
}

#container-tool {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 5%;
}

.icono-tool {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 10px;
  width: 80px;
}

.icono-tool svg{ 
  width: 60px;
  height: 60px;
  background-color: #fff;
  border: 5px solid;
  border-radius: 10px;
}

.icono-tool svg:hover{ 
  border: 2px solid;
  border-radius: 15px;
}

.footer-icon{
  color: white;
  font-size: 80%;
}

/* Projects section*/
#projects{
  background-color: var(--color1);
  height: auto;
  color: var(--project-color);
  padding-left: 0;
  width: 100%;
}

#projects h2{
  display: block;
  text-align: center;
  font-size: 10vh;
  padding-top: 0%;
  padding-bottom: 2%;
}

#projects .project-tile{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
  border-radius: 30px;
  margin-bottom: 20px;
}

.pro-box{
    width: 300px;
    text-align: center;
    background-color: var(--color3);
    border-radius: 5%;
    color: white;
    font-weight: bold;
}

.pro-box:hover{
  background-color: var(--color4);
  color: black;
  font-weight: bold;
}

.pro-box p{
  width: 100%;
  padding-bottom: 1%;
}

#projects img{
    width: 300px;
    height: 200px;
    border-radius: 5%;
}

#herramientas-contenedor svg{
  width: 35px;
  height: 35px;
  background-color: white;
  border: 1px solid;
  border-radius: 50%;
}

/* Footer section*/

.profile{
  margin: 0;
  background-color: var(--color3);
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  gap: 10vw;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5% 0% 0% 0;
}

.profile a{
  text-decoration: none;
  color: aliceblue;
  font-weight: lighter;
  padding-top: 10px;
}

.profile p{
  height: 10vh;
}

.icon{
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
}

.profile_link{
    font-size: 20px;
}

.profile_link svg{
    fill: var(--welcome-ly-color1);
    font-size: 50px;
    height: 50px;
}

.profile_link:hover{
    background: linear-gradient(to bottom, var(--nav-ly-color2), var(--color2), var(--color3));
}

/* Media*/
@media (max-width: 600px){

  body{
    width: 100vw;
  }

  #welcome-section h1{
    font-size: 5vh;
  }

  #cont-cargos{
    height: 70px;
  }

  #perfiles-div > p > span{
    font-size: 20px;
  }

  div.texto_info {
    width: 90%;
  }

  div#Info_forma {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mySlides{
    padding: 0 30px 0 30px;
  }

  .mySlides q {
    height: 300px;
    font-style: italic;
    display: block;
    text-decoration-style: solid;
    font-size: 2vh;
  }

  .eje-y-grafica{
    display: none;
  }

  #projects h2{
    font-size: 4vh;
  }

  #about-section h2{
    font-size: 4vh;
  }

}

@media (max-width: 400px){
  #navbar a{
    font-size: 18px;
    padding:  30px 0px;
  }

  #projects{
    height: auto;
  }

  #projects h2{
    display: block;
    text-align: left;
    font-size: 5vh;
  }

  .profile{
    flex-wrap: wrap;
    height: auto;
    padding: 5% 0% 0% 0;
    gap: 10px;
  }

}

@media (max-width: 376px){
  #navbar a{
    font-size: 10px;
  }
}
/* Animaciones*/

@keyframes text-animation {
  100% {top:0px;}
  75%  {top:-200px;}
  50%  {top:-200px;}
  25%  {top:0px;}
  0%   {top:0px;}
}